PORT = 8001

SALTROUND = 10

JWT_SECRET = 'list_app'

CORS_URL = 'http://localhost:3000'

PGHOST=''
PGDATABASE=''
PGUSER=''
PGPASSWORD=''
ENDPOINT_ID=''

//or 

DATABASE_URL=ppostgres://[user]:[password]@[neon_hostname]/[dbname]?options=endpoint%3D[endpoint_id]
